table, tr, th, td{
border:solid 1px grey;
text-align: center;
border-collapse:collapse;
padding: 10px;
}

th{
    background-color: burlywood;
    color: grey;
}

table{
    margin: 10px 0px 0px 20px;
}